.productBox {
  justify-content: center;
  width: 200px;
  height: 360px;
  margin: 12px;
  display: grid;
  align-items: center;
}
.img {
  width: 170px;
  height: 200px;
  margin: auto;
}
.imgSelect {
  filter: opacity(0.5);
  width: 170px;
  height: 200px;
  margin: auto;
}
.textBox {
  width: 190px;
  height: 15px;

  text-align: left;
}
.text {
  font-size: 14px;
  color: #000000;
}
.priceBox {
  width: 190px;

  text-align: left;
}
.Price {
  font-size: 18px;
  color: #000000;
}
.button {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: #000000;
  color: white;
  padding: 0.75rem 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  font-weight: bold;
  width: 200px;
}
.buttonMin {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: #000000;
  color: white;
  padding: 0.75rem 0.75rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  font-weight: bold;
  width: 45px;
}
.buttonPlse {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: #000000;
  color: white;
  padding: 0.75rem 0.75rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  font-weight: bold;
  width: 45px;
}
.buttonBox {
  width: 200px;
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.counterBox {
  border-style: solid;
  border-radius: 20px;
  width: 42px;
  height: 42px;
  color: #000000;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2px;
}
.counterItem {
  margin: 9px;
}
