/* @media screen and (max-width: 940px) {
  .cartItemBox {
    width: 125px;
    height: 125px;
  }
}
@media screen and (min-width: 940px) {
  .cartItemBox {
    width: 325px;
    height: 325px;
  }
} */
@media screen and (max-width: 570px) {
  .title {
    font-size: 10px;
  }
}
.cartItemBox {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  padding: 10px;
  flex-wrap: nowrap;
  align-items: center;
}
.imgOnCart {
  width: 50px;
  height: 70px;
}
.buttonBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column-reverse;
  flex-direction: column-reverse;
  padding: 10px;
}

.button {
  cursor: pointer;
  border: none;
  background-color: #5c5a5a;
  color: white;
  padding: 0.75rem 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  font-weight: bold;
}
