@media screen and (min-width: 540px) {
  .containerItem {
    width: 225px;
  }
}

@media screen and (max-width: 540px) {
  .containerItem {
    width: 225px;
  }

  .modal {
    width: 200px;
    height: 200px;
    font-size: 10px;
  }
}
@media screen and (max-width: 570px) {
  .myItemOnCart {
    width: 200px;
    height: 200px;
  }
}
@media screen and (min-width: 580px) {
  .containerItem {
    width: 450px;
  }
}
@media screen and (min-width: 720px) {
  .containerItem {
    width: 700px;
  }

  .myItemOnCart {
    width: 300px;
  }
}
@media screen and (min-width: 900px) {
  .containerItem {
    width: 900px;
  }

  .myItemOnCart {
    width: 500px;
  }
}

.modal {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 200rem;
  background-color: #fffdfd;
  padding: 5rem 6rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 10);
  z-index: 1000;
  min-height: 300px;
  border-radius: 10px;
}
.hide {
  display: none;
}

.btn__close_modal {
  color: inherit;
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  border: none;
  background: none;
}
.modal__header {
  font-size: 34px;
  margin-top: 0;
  text-align: center;
}
.containerItem {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: center;
  margin-top: 70px;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  margin: auto;
}
.myItemOnCart {
  display: flex;
  flex-direction: column;
  top: 0px;
  max-height: 380px;
  overflow-y: auto;
  flex-wrap: nowrap;
  justify-content: center;
}
