@keyframes animTitle {
  0% {
    left: 0px;
    top: 0px;
  }
  25% {
    left: 40%;
    top: 0px;
  }
  50% {
    left: 40%;
    top: 90px;
  }
  75% {
    left: 20%;
    top: 45px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

@media screen and (min-width: 540px) {
  .containerItem {
    width: 225px;
  }
  .title {
    font-size: 30px;
  }
}

@media screen and (max-width: 540px) {
  .containerItem {
    width: 225px;
  }
  .title {
    font-size: 30px;
  }
  .modal {
    width: 200px;
    height: 200px;
    font-size: 10px;
  }
}
@media screen and (max-width: 570px) {
  .title {
    font-size: 30px;
  }
  .myItemOnCart {
    width: 200px;
    height: 200px;
  }
}
@media screen and (min-width: 580px) {
  .containerItem {
    width: 450px;
  }
  .title {
    font-size: 50px;
  }
}
@media screen and (min-width: 720px) {
  .containerItem {
    width: 700px;
  }
  .title {
    font-size: 50px;
  }
  .myItemOnCart {
    width: 300px;
  }
}
@media screen and (min-width: 900px) {
  .containerItem {
    width: 900px;
  }

  .myItemOnCart {
    width: 500px;
  }
}
.title {
  font-size: 50px;
}
.bar {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.cartBox {
  padding-right: 3.5rem;

  float: right;
}
.home {
  background-color: #ffffff;
  width: 100%;
}

.headers {
  width: 100%;
  background-color: rgba(177, 177, 177, 0.989);
  text-align: center;
  padding: 1.5%;
  margin-bottom: 70px;
}
.title {
  color: #000000;
  text-align: center;
  margin: 0%;
  justify-self: start;
  font-weight: bold;
  transition: 0s linear 2s;
}
.titleBox {
  position: relative;
  animation-name: animTitle;
  animation-duration: 4s;
}
.hidden {
  visibility: hidden;
  opacity: 0;
}
.modal {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-width: 200rem;
  background-color: #fffdfd;
  padding: 5rem 6rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.2);
  z-index: 1000;

  border-radius: 10px;
}
.hide {
  display: none;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.236);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}
.btn__close_modal {
  color: inherit;
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  border: none;
  background: none;
}
.modal__header {
  font-size: 34px;
  margin-top: 0;
  text-align: center;
}
.containerItem {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: center;
  margin-top: 70px;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);

  margin: auto;
}
.myItemOnCart {
  display: flex;
  flex-direction: column;
  max-height: 400px;
  overflow-y: auto;

  flex-wrap: nowrap;
  justify-content: center;
}
